/******************
PC
******************/

@media (min-width: 583px) {

#wrapper{
	padding: 40px 0 0 0;
}



.wrapperInn{
	padding: 120px 30px 0 0px;
}

#mv_sec{
	background: url(../images/common/bgTopCommon.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 5530px;
}

#main_view dt h1{
	padding-bottom: 20px;
	padding-top: 50px;
	letter-spacing: 4.5px;
	color: #f68108;
	font-weight: bold;
	text-align: center;
	font-size: 230%;
}

#main_view dt .mvRead{
	text-align: center;
}

#comanySec .companyTable{
	display: flex;
}

#comanySec{
	border: solid 1px #ccc;
}

#comanySec dl{
	border-bottom: solid 1px #ccc;

}

#comanySec dt{
	width: 250px;
	padding: 20px;
	border-right: solid 1px #ccc;
	font-weight: bold;
}

#comanySec dd{
	width: 800px;
	padding: 20px;
}

.map{
	padding: 50px 0 0 0;
}


}







/*************************
SP レイアウト

*************************/


@media (max-width: 563px) {



#wrapper{
	padding:0;
}

#bg_bottom{
	background: url(../images/top/bgBottom.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 15%;
}

.wrapperInn{
	padding: 5%;
}

#mv_sec{
	background: url(../images/common/bgTopCommon.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size:270%;
}


#main_view dt h1{
	padding-bottom: 0%;
	padding-top: 10%;
	letter-spacing: 4.5px;
	color: #f68108;
	font-weight: bold;
	text-align: center;
	font-size: 230%;
}

#main_view dt .mvRead{
	text-align: center;
}

#comanySec .companyTable{
	display: flex;
}

#comanySec{
	border: solid 1px #ccc;
	margin: 5%;
}

#comanySec dl{
	border-bottom: solid 1px #ccc;

}

#comanySec dt{
	width: 40%;
	padding: 5%;
	border-right: solid 1px #ccc;
	font-weight: bold;
}

#comanySec dd{
	width: 60%;
	padding: 5%;
}

.map{
	padding: 5% 0% 5% 5%;
}

.map iframe{
	width: 95%;
}




}

















